# Port Configuration
PORT=3001

# Database Configuration
# Use mongodb://localhost:27017/transitops or your MongoDB Atlas URI
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/transitops?retryWrites=true&w=majority

# JWT Configurations
JWT_SECRET=super_secret_jwt_access_token_key_2026
JWT_REFRESH_SECRET=super_secret_jwt_refresh_token_key_2026
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# Cloudinary Credentials (For Document/POD uploads)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Email Credentials (Nodemailer alerts)
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=your_email_user
EMAIL_PASS=your_email_pass
EMAIL_FROM="TransitOps+ Alerts <alerts@transitops.com>"

# Google Gemini API Key
GEMINI_API_KEY=your_gemini_api_key
